@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* Estilos generales */
:root {
  /* Alturas */
  --rtc-min-height: 100vh;
  /* Anchura */
  --rtc-min-width-sidebar: 165px;
  --rtc-min-width: 280px;
  --rtc-width-sidebar: 175px;
  --rtc-width: 100%;
  /* Colores */
  --rtc-bg-color: #000000;
  --rtc-color: #33c51f;
  /* Borde */
  --rtc-border: 1px dashed var(--rtc-color);
  /* Fuente tipográfica */
  --rtc-font-family: 'Pixelify Sans', cursive;
  /* Márgenes */
  --rtc-margin: 1rem;
  --rtc-margin-main: 4.5rem;
  --rtc-margin-footer: 24rem;
  /* Padding */
  --rtc-padding-header: 0.5rem;
  --rtc-padding: 1rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--rtc-bg-color);
  color: var(--rtc-color);
  font-family: var(--rtc-font-family);
  min-height: var(--rtc-min-height);
  min-width: var(--rtc-min-width);
}

header,
section,
aside,
footer {
  background-color: var(--rtc-bg-color);
  border: var(--rtc-border);
  padding: var(--rtc-padding);
}

header,
aside,
.content,
.sidebar {
  margin-bottom: var(--rtc-margin);
}

header {
  padding: var(--rtc-padding-header) 0 var(--rtc-padding-header)
    var(--rtc-padding-header);
  position: fixed;
  top: 0;
  width: var(--rtc-width);
  z-index: 1;
}

main {
  margin-top: var(--rtc-margin-main);
  position: relative;
}

footer {
  margin-top: var(--rtc-margin-footer);
  padding: var(--rtc-padding);
  position: sticky;
  bottom: 0;
}

footer > p {
  text-align: center;
}

.sidebar {
  min-width: var(--rtc-min-width-sidebar);
  width: var(--rtc-width-sidebar);
  position: absolute;
  right: 1rem;
  top: 0;
}

.content {
  position: relative;
  top: 185px;
}

.features {
  position: relative;
  top: 185px;
}

.features > h2,
.features > .feature {
  text-align: center;
}
